<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>clothing store</display-name>
  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/dang-nhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductController</display-name>
    <servlet-name>SearchProductController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.SearchProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductController</servlet-name>
    <url-pattern>/SearchProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductByCategoryController</display-name>
    <servlet-name>ProductByCategoryController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.ProductByCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductByCategoryController</servlet-name>
    <url-pattern>/ProductByCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAmountController</display-name>
    <servlet-name>GetAmountController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.GetAmountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAmountController</servlet-name>
    <url-pattern>/GetAmountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutStoreController</display-name>
    <servlet-name>AboutStoreController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.AboutStoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutStoreController</servlet-name>
    <url-pattern>/AboutStoreController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetail</display-name>
    <servlet-name>ProductDetail</servlet-name>
    <servlet-class>com.clothingstore.controller.web.ProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetail</servlet-name>
    <url-pattern>/ProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountController</display-name>
    <servlet-name>MyAccountController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.MyAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountController</servlet-name>
    <url-pattern>/MyAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderPageController</display-name>
    <servlet-name>OrderPageController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.OrderPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPageController</servlet-name>
    <url-pattern>/OrderPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordController</display-name>
    <servlet-name>ChangePasswordController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordController</servlet-name>
    <url-pattern>/ChangePasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutController</display-name>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductController</display-name>
    <servlet-name>EditProductController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.EditProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductController</servlet-name>
    <url-pattern>/EditProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessCartController</display-name>
    <servlet-name>ProcessCartController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.ProcessCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessCartController</servlet-name>
    <url-pattern>/ProcessCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryController</display-name>
    <servlet-name>AddCategoryController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.AddCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryController</servlet-name>
    <url-pattern>/AddCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryController</display-name>
    <servlet-name>DeleteCategoryController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.DeleteCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryController</servlet-name>
    <url-pattern>/DeleteCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryController</display-name>
    <servlet-name>EditCategoryController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.EditCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryController</servlet-name>
    <url-pattern>/EditCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountController</display-name>
    <servlet-name>DeleteAccountController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.DeleteAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountController</servlet-name>
    <url-pattern>/DeleteAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAccountController</display-name>
    <servlet-name>EditAccountController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.EditAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountController</servlet-name>
    <url-pattern>/EditAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiscountController</display-name>
    <servlet-name>DiscountController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.DiscountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscountController</servlet-name>
    <url-pattern>/DiscountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakePaymentController</display-name>
    <servlet-name>MakePaymentController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.MakePaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakePaymentController</servlet-name>
    <url-pattern>/MakePaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoDAO</display-name>
    <servlet-name>InfoDAO</servlet-name>
    <servlet-class>com.clothingstore.dao.impl.InfoDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoDAO</servlet-name>
    <url-pattern>/InfoDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailPageController</display-name>
    <servlet-name>OrderDetailPageController</servlet-name>
    <servlet-class>com.clothingstore.controller.web.OrderDetailPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailPageController</servlet-name>
    <url-pattern>/OrderDetailPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderDetailController</display-name>
    <servlet-name>ShowOrderDetailController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.ShowOrderDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderDetailController</servlet-name>
    <url-pattern>/ShowOrderDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderController</display-name>
    <servlet-name>DeleteOrderController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.DeleteOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderController</servlet-name>
    <url-pattern>/DeleteOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOrderController</display-name>
    <servlet-name>EditOrderController</servlet-name>
    <servlet-class>com.clothingstore.controller.admin.EditOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOrderController</servlet-name>
    <url-pattern>/EditOrderController</url-pattern>
  </servlet-mapping>
</web-app>